*{
    margin: 0;
    padding: 3px;
}


.caixa-img-logo {
height: 30px;

}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}
#senai{
    height: 30px;
    width: 100px;
    padding-top: 
}
.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 1000px;
}
.home{
    font-size: 20px;
    font-weight: 800;
}
 .tags{
    display: flex;
    flex-direction: row;
    gap: 10px;
    display: flex;
    justify-content: center;
    margin-top: 10px;

 }
 .txt-tags{
    border: 1px solid #000;
    border-radius: 20px;
    padding: 3px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 600;
 }
.card{
    border: 1px solid #000;
    width: 300px;
    height: 300px;
    border-radius: 5PX;
}
.titulo{
    margin-top: 20px;
}

.titulo-principal{
    font-size: 27px;
    font-weight: 700;
}
.escricaod{
    font-size: 12px;
    font-weight: 540;
}
.carga-horaria{
    font-size: 12px;
    font-weight: 600;
}
.botoes{
    display: flex;
    flex-direction: column;
    gap: 18px;
    align-items: center;
    padding-top: 15px;
    
}
.saiba{
    width: 160px;
    border-radius: 10px;
    font-size: 12px;
    padding: 1px;
    height: 22px;
    color: #ff0000;
    border: 1px solid #ff0000;
}
.cancela{
    width: 160px;
    height: 22px;
    border-radius: 10px;
    padding: 1px;
    font-size: 12px;
    color: #ffffff;
    background-color: #ff0000;
    border: 1px solid #ff0000;
    
}
hr{
width: 80%;
display: flex;
padding: 0;
}
.cards-caixas{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 10px;
}
.hora{
    display: flex;
    flex-direction: row;
    font-size: 12px;
}